# Only show TypeScript and Shell in GitHub language stats
*.js linguist-generated=true
*.js.map linguist-generated=true
*.json linguist-generated=true
*.mdx linguist-documentation=true
dist/** linguist-generated=true
