@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

/* Include fumadocs-ui components in Tailwind's content scanning */
@source '../node_modules/fumadocs-ui/dist/**/*.js';
